
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

@Html.Action("PartialHead", "Portfolio")

<body>
    @Html.Action("PartialNavbar", "Portfolio")
    <section class="w3l-about-breadcrumb text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-2">
                <h2 class="title">Hakkımda</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="~/Portfolio/Index">Anasayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımda </li>
                </ul>
            </div>
        </div>
    </section>
    @Html.Action("PartialAboutMe")
    @Html.Action("PartialAchievement")
    @Html.Action("PartialFooter", "Portfolio")
    @Html.Action("PartialScript", "Portfolio")

</body>

</html>
